.card {
    border: 4px blueviolet solid;
    border-radius: 2px;
    width: 250px;
    height: 250px;
    margin: 1rem;
    position: relative;
    box-shadow: 4px 4px 10px rgb(49, 1, 1);
    transition: all .2s ease-in-out;
    cursor: pointer;
    float:left;
    margin-left:70px;
    margin-right:30px;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.1s;
  }
  
  .shake {
    animation: shake .5s 0.0125s;
  }
  
  @keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    12.5%,
    37.5%,
    62.5%,
    87.5% {
      transform: translate(-10px);
    }
  
    25%,
    50%,
    75% {
      transform: translate(10px);
    }
  }
  
